# Required only for data ingestion and model training
MONGO_DB_URL=mongodb://localhost:27017

# Optional remote MLflow server (for example DagsHub)
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

# Required only for S3 synchronization and AWS deployment
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
TRAINING_BUCKET_NAME=phishops
